dist/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
lisk-buttons.iml
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
coverage/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
